<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<!-- container   -->

<div class="container" style="background-color: white; height: 600px;">
  
    <form class="form-inline" style="padding-top:10px;">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
      </form>
  <app-tool-card></app-tool-card>


</div>
<app-tool-offer></app-tool-offer>
<app-rent-screen></app-rent-screen>

