<div class="background-container">
  <div class="container">
    <div class="profile-container" *ngIf="user">
      <h2 class="header-profile">{{user.name}}</h2>
      <ul class="list-group">
        <li class="list-group-item">Username: {{user.username}}</li>
        <li class="list-group-item">Email: {{user.email}}</li>
      </ul>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-sm" *ngIf="user">
          <table class="table">
            <thead>
              <tr>
                <th style="font-family: 'Abel', sans-serif; font-size: 25px;" scope="col">Products</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of user.products">
                <th scope="row">{{p.name}}</th>
                <td>{{p.category}}</td>
                <td>{{p.description}}</td>
                <td>{{p.costPerDay}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-sm" *ngIf="user">
          <table class="table">
            <thead>
              <tr>
                <th style="font-family: 'Abel', sans-serif; font-size: 25px;" scope="col">Rents</th>
                <th scope="col">Cost</th>
                <th scope="col">Days Rented</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of user.rents">
                <th scope="row" *ngFor="let n of r.products">{{n.name}}</th>
                <td>${{r.totalPrice}}</td>
                <td>{{r.daysRented}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>