<div class="container" style="height:500px; padding-top: 40px; ">
  
   
      <div class="row">
          <div class="col-m-3" style=" padding-top: 35px;">
              <div class="card" style="width: 15rem;">
                  <div class="card-body">
                      <div class="form-row">
                          <div class="form-group col-md-12">
                              <label for="sel1">Select product type:</label>
                              <select class="form-control" id="sel1">
                                <option>Hammer</option>
                                <option>Saw</option>
                                <option>Screwdriver</option>
                              </select>
                          </div>
                            
                          </div>
                      
                  <hr>
                    <div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">€</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Price /day">
                          </div>
                      <button type="submit" class="btn btn-primary">Submit </button>
                    </div>
                  </div>
                </div>
          </div>
      </div>
</div>
