<div class="dashboard-container">
  <div class="background-container">
    <div class="header-container">
      <span class="slogan-header">
        <h1>"You're online toolbox for your everyday needs"</h1>
      </span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="grid-container">
      <div class="tile"><fa name="wrench" style="color: rgba(70, 200, 252, 0.8);"></fa></div>
      <div class="tile"><fa name="upload" style="color: rgba(79, 255, 134, 0.8);"></fa></div>
      <div class="tile"><fa name="user" style="color: rgba(255, 152, 79, 0.8);"></fa></div>
    </div>
  </div>
</div>