<div class="dashboard-container">
  <div class="background-container"></div>
    <div class="header-container">
      <div class="slogan-header">
        <h1>"Your online toolbox for your everyday needs"</h1>
      </div>
    </div>
</div>
<div>
    <app-rent></app-rent>
    <!-- <div class="grid-container">
      <div class="tile"><fa name="wrench" style="color: rgba(70, 200, 252, 1);"></fa></div>
      <div class="tile"><fa name="upload" style="color: rgba(79, 255, 134, 1);"></fa></div>
      <div class="tile"><fa name="user" style="color: rgba(255, 152, 79, 1);"></fa></div>
    </div>
  </div> -->
</div>