.dashboard-container {
    width: 100%;
    height: 80vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}


.background-container {
  height: 80%;
  width: 100%;
  background-image: url(src\assets\img\pexels-photo-1029243.jpeg);
  filter: blur(2px);
}



.header-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;

  }
  
  .slogan-header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #FFF;
    text-shadow: 1px 2px 5px #000000;
    font-family: 'Abel', sans-serif;
  }

  @media screen and (max-width: 800px) {
      .slogan-header > h1 {font-size: 25px;}
  }


/* .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.8);
} */

.grid-container {
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

.tile {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: black;
    width: 350px;
    height: 350px;
    box-shadow: 1px 2px 5px #000000;
    transform: scale(1);
    transition: 0.3s ease;
}


.tile:hover {
    transform: scale(1.05);
}

fa {
    font-size: 50px;
    padding: 50px;
}

@media screen and (max-width: 800px) {
    .grid-container {display: block;}
    .tile {width: 250px;height: 250px;}
    fa {padding: 30px;}

  }

@media screen and (max-width: 600px) {
    .grid-container {display: block;}
    .tile {width: 150px;height: 150px;}
    fa {padding: 20px;}

  }